# Python
__pycache__/
*.py[cod]
venv/
.env

# Datos (No queremos subir datasets pesados a GitHub)
data/
*.csv
*.xlsx

# Cursor/VS Code
.vscode/
.cursor/

# macOS específicos
.DS_Store
.AppleDouble
.LSOverride